*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

header{
    width: 100%;
    height: 83px;
    background: rebeccapurple;
}

.barraPrincipal{
    height: 66px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 35px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    width: 288px;
    font-size: 12px;
}

}
.uno{
    width: 40px;
    margin-top:35px;
    padding-right: 10px;
    padding-top: 5px;
    margin-top:35px;
}
header div p{
    display: inline;
    padding-left: 10px;
}

.fa{
    color: white;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 5px;
}

#buscador{
    background: #67A6CA; 
    border-style: none; 
    margin-top: -5px;
    height: 30px;
}

.principal{
    display: inline-block;
    height: 40px;
    width: 150px;
    position: relative;
    margin-left: 140px;
    margin-top: 20px;
    background: url(../assets/img/trello-logo-white.svg);
    background-size: cover;
}

.iconsNav{
    display: inline-block;
    outline: 2px solid white;
    margin-right: 10px;
    margin-top: 20px;
    height: 20px;
    margin-left: 20px;
    font-size: 18px;

}

.rightFloat{
    float: right;
    margin-right: 100px;
}

.parte2{
    background: #67A6CA; 
    height: 800px;
    width: 100%;
}

.tablero{
    display: block;
}

.tablero h2{
    padding-left: 50px;
    padding-top: 30px; 
    letter-spacing: 1px;
    display: inline-block;
}
.tablero p {
    display: inline-block;
    width: 99px;
    padding-left: 15px;
}
.tablero hr{
    padding-top: 10px;
}
#tarjeta{
    margin-top: 50px;
    margin-left: 50px;
    height: 40px; 
    width: 250px;
    background: #005485; 
    border-style: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 30px; 
    color:#E1E1E1;
}

#tarjeta:hover{
    background: #025F96; 
    color: white; 
    cursor: pointer;
    font-size: 13px;
}


.input{
    background: #D6D8DA; 
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px; 
    border-style: none;
    width: 350px; 
    height: 40px;
    margin-left: 10px; 
}

.input::placeholder{
    padding-left: 10px;
    color:black;
}

#btnGuardar{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100px; 
    height: 35px;
    background: #519839 ; 
    border-radius: 5px; 
    border-style: none;
}

#cuadro{
    padding-top: 10px;
    padding-left: 10px;
    
}

#agrega{
    padding-top: 20px;
    padding-left: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
    color: #B1B1B1; 
}

h4{
    margin-top: 10px;
    color: black; 
    font-size: 16px; 
    font-weight: bold;
    margin-bottom: 10px;

}
/* clases js*/ 

.noShow{
    display: none;
}
.show{
    display: inline-block;
}
.conten-2{
    height: auto; 
    width: 380px; 
    background: #E2E4E6;
    margin-left: 30px;
    margin-top: 30px;
    color: black; 
    border-radius: 5px;
}

.textAreaTarea{
    height: 70px; 
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    color: #1C1059;
}

.btnAñadir{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100px; 
    height: 35px;
    background: #519839 ; 
    border-radius: 5px; 
    border-style: none;
}

.newForm{
    height: auto; 
    width: 400px;  
    background-color: #E1E1E1;  
    display: inline-block; 
    margin-left: 30px;
    border-radius: 5px; 

}

.nuevaTarea{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #1C1059;
    font-size: 13px;
    border-style: solid;
    border-radius:5px;
    border-color:#C1BFBF ; 
    border-width: 1px;
    margin-left: 10px;
    margin-right: 20px;